body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.todoinput{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#task-name{
    padding: 9px;
    width: 250px;
    border: 1px solid green;
    border-radius: 5px;
    
    font-size:15px;
    outline: none;
}

#add-Btn{
    padding: 9px 20px;
    border: 1px solid green;
    background-color: #fff;
    color: green;
    border-radius: 5px;
    margin: 0 10px;
    transition: .5s;
}

#add-Btn:hover{
    background-color: green;
    color: #fff;
}

/* style from JS */

.task {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.task li {
    flex:4;
    list-style: none;
    font-size: 1.3rem;
    margin: 5px;
}

.task button {
  font-size: 1.3rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  /* border: none; */
}

.chkTask{
    color: orange;
    border: solid 2px orange;
margin: 5px;
transition: .5s;
}
.chkTask:hover{
    color: white;
    background-color: orange;
    border: solid 2px orange;
margin: 5px;
}

.trash{
    color: red;
    border: solid 2px red;
    transition: .5s;
}

.trash:hover{
    color: white;
    background-color: red;
    border: solid 2px red;
}