*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#btns{
    display: flex;
    /* border: 2px solid black; */
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
    gap: 2%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    
}
.btn{
width: 45%;
height: 45%;
gap: 2px;
border-radius: 10px;
background-color: white;
border: 2px solid royalblue;
cursor: pointer;

}
.red{
    background-color: red;
}
.blue{
    background-color:blue;
    
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
#Start-Game{
    background-color: white;
    padding: 7px;
    border: 2px solid royalblue;
    border-radius: 7px;
    margin: 20px;
    cursor: pointer;
    font-weight: 700;
    
}

/* JavaScript Classes */
.btnflash{
    background-color: white;
}

.user_Flash_Btn{
background-color: darkgray;
}