*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(215, 213, 213, 0.9);

}
.FAQ-Main{
    width: 50%;
}
.heading{
    text-align: center;
}
.FAQ{
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.quation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
  
}

.hide-show-Btn{
    background-color: white;
    font-weight: 900;
    padding: 5px;
    cursor: pointer;
    display: flex;
flex-direction: column;
border: none;

}
.answer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .5s;
    border-top: 2px solid darkgray;
    margin-top: 10px;
    padding-top: 10px;
}
/* toggle show hide code */

.active .answer{
    max-height: 500px; /* Adjust this value based on your content */
    opacity: 1;
}

.minus-Btn{
    display: none;
}

.active .minus-Btn{
    display: block;
}
.active .plus-Btn{
    display: none;
}
