*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display{
    /* border: 1px solid red; */
    width: 20%;
    height: 25%;   
    background-color: beige;
    border-radius: 30px;
    
}

#timer{
    margin: 10px;
    text-align: center;
    font-size: 3rem;
    color: rgb(24, 229, 191);
}

.buttons{
    
    text-align: center;
    margin-top: 50px;
}
button{
    margin: 0 10px;
    border: none;
    cursor: pointer;
        
}
button i {
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
}

#play{
    background-color: green;
}

#pause{
    background-color: orange;

}
#reset{
    background-color:red;
}